<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>save</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>
<!-- action : form에 작성된 데이터를 어느 곳으로 보낼지 지정 -->
<form action="/member/save" method="post">
    <!-- name : 서버로 데이터를 전송할 때 변수이름의 역할을 함 -->
    이메일: <input type="text" name="memberEmail" id="memberEmail" onkeyup="emailCheck()"> <br>
    비밀번호: <input type="password" name="memberPassword"> <br>
    이름: <input type="text" name="memberName"> <br>
    <input type="submit" value="회원가입">
</form>

</body>
<script th:inline="javascript">
    const emailCheck = () => {
    const email = document.getElementById("memberEmail").value;
    console.log("입력값: ", email);
    }
</script>
</html>